<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

   <title>Save Employee</title>

</head>

   <body>

   <div class="container">
	
		<h3>Employee Directory</h3>
		<hr>
		
		<p class="h4 mb-4">Save Employee</p>
	
			<form action="#"  method="POST" th:action="@{/employee/save}" th:object="${employee}">
					
				<!-- ADD ID AS THE HIDDEN FIELD -->
				<input type="hidden" th:field="*{id}">
				
				<input type="text" class="form-control mb-4 col-4" placeholder="First name" th:field="*{firstName}">
	
				<input type="text" class="form-control mb-4 col-4" placeholder="Last name" th:field="*{lastName}">
	
				<input type="text" class="form-control mb-4 col-4" placeholder="Email" th:field="*{email}">
					
				<button type="submit" class="btn btn-info col-2">Save</button>
							
			</form>
	
		<hr>
		
			<a th:href="@{/employee/list}">Back to Employees List</a>
	
        </div>

   </body>

</html>

