<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<title>Employee Directory</title>
</head>

<body>

	<div class="container">

		<h3>Employee Directory</h3>
		<hr>

		<!-- Add a button -->
		<a class="btn btn-primary btn-sm mb-3" th:href="@{/employee/showForm}">
			Add Employee </a>


		<table class="table table-bordered table-striped">
			<thead class="thead-dark">
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Action</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="employee : ${employees}">
					<td th:text="${employee.firstName}" />
					<td th:text="${employee.lastName}" />
					<td th:text="${employee.email}" />

					<td>
						<div class="row">

							<div class="col-small">
								<!-- Add "delete" button/link -->
								<form action="#" method="POST"
									th:action="@{/employee/showFormForUpdate}">
									<input type="hidden" name="empId" th:value="${employee.id}">
									<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>
								</form>
							</div>

							<div class="col-small">
								<!-- Add "delete" button/link -->
								<form action="#" method="POST" th:action="@{/employee/delete}">
									<input type="hidden" name="empId" th:value="${employee.id}">
									<button type="submit" class="btn btn-danger btn-sm"
										onclick="if (!(confirm('Are you sure you want to delete this employee?'))) 											return false">
										Delete</button>
								</form>
							</div>

						</div>
					</td>


				</tr>
			</tbody>
		</table>
	</div>

	<!-- Creating a button for navigation dynamically using the "page" object -->
	<nav aria-label="Page navigation example">
		<ul class="pagination justify-content-center">

			<li class="page-item"><a class="page-link"
				th:if="${!page.isFirst()}" th:href="@{/employee/list(page=0)}">First</a>
			</li>

			<li class="page-item"><a class="page-link"
				th:if="${page.hasPrevious()}"
				th:href="@{/employee/list(page=${page.getNumber()-1})}">Previous</a>
			</li>

			<th:block th:each="i: ${#numbers.sequence(0, page.getTotalPages()- 1)}">
					<div th:switch="${i}">
						<div th:case="${page.getNumber()}">
							<li class="page-item active">
								<a class="page-link" th:href="@{/employee/list(page=${i})}">[[${i+1}]]</a>
							</li>
						</div>

						<div th:case="*">
							<li class="page-item">
								<a class="page-link" th:href="@{/employee/list(page=${i})}">[[${i+1}]]</a>
							</li>
						</div>
					</div>
				</th:block>
			

			<li class="page-item"><a class="page-link"
				th:if="${page.hasNext()}"
				th:href="@{/employee/list(page=${page.getNumber()+1})}">Next</a></li>

			<li class="page-item"><a class="page-link"
				th:if="${!page.isLast()}"
				th:href="@{/employee/list(page=${page.getTotalPages()-1})}">Last</a>
			</li>
		</ul>
	</nav>



</body>
</html>






